params {
    container_image{
            report_public = "bioraddbg/omnition-stubs"
            core_public = "bioraddbg/omnition-stubs"
            cytometry_public = "bioraddbg/omnition-stubs"
            dbg_public = "bioraddbg/omnition-stubs"
            r_public = "bioraddbg/omnition-stubs"
            archr_public = "bioraddbg/omnition-stubs"
        }
}
