profiles {
    demo_atac {
        params {
            atac.input = "${projectDir}/test/public/data/atac/normal/"
            atac.mixed = true
            atac.reference.directory = "${projectDir}/test/public/references/atac/"
            atac.reference.fasta =  "${projectDir}/test/public/references/atac/DemoRefAtachg38.fa.gz, ${projectDir}/test/public/references/atac/DemoRefAtacmm10.fa.gz"
            atac.reference.gtf = "${projectDir}/test/public/references/atac/DemoRefAtachg38.gtf.gz, ${projectDir}/test/public/references/atac/DemoRefAtacmm10.gtf.gz"
            atac.workflow = "full"
        }
    }

    demo_catac {
        params {
            catac.barcode.force = 150
            catac.barcodedTn5Config = "${projectDir}/test/public/config/catac/atac_mixed_TIs.csv"
            catac.input = "${projectDir}/test/public/data/atac/combinatorial/"
            catac.mixed = true
            catac.reference.directory = "${projectDir}/test/public/references/atac/"
            catac.reference.fasta = "${projectDir}/test/public/references/atac/DemoRefAtachg38.fa.gz, ${projectDir}/test/public/references/atac/DemoRefAtacmm10.fa.gz"
            catac.reference.gtf = "${projectDir}/test/public/references/atac/DemoRefAtachg38.gtf.gz, ${projectDir}/test/public/references/atac/DemoRefAtacmm10.gtf.gz"
            catac.reference.rounding = 10
            catac.sortSize = 0.01
            catac.tiSheet =  "${projectDir}/test/public/config/catac/TI.yaml"
            catac.tiRead = "r1"
            catac.tssWindowSize = 2000
            catac.workflow = "full"
        }
    }

    demo_rna_single {
        params {
            rna.input = "${projectDir}/test/public/data/rna/single_default/"
            rna.bead.format = "shasta_normalbead"
            rna.bead.length = 53
            rna.reference.directory = "${projectDir}/test/public/references/rna/normal/"
            rna.reference.fasta = "${projectDir}/test/public/references/rna/normal/DemoReferenceRnaNormalHomoSapiens.fa.gz"
            rna.reference.gtf = "${projectDir}/test/public/references/rna/normal/DemoReferenceRnaNormalHomoSapiens.gtf.gz"
            rna.workflow = "full"
            rna.includeIntrons = false
            rna.beadMergeUmiThreshold = 1
        }
    }

    demo_rna_mixed_options {
        params {
            rna.bead.format = "shasta_normalbead"
            rna.bead.length = 53
            rna.input = "${projectDir}/test/public/data/rna/mixed_all_options/"
            rna.reference.directory = "${projectDir}/test/public/references/rna/mixed/"
            rna.reference.fasta = "${projectDir}/test/public/references/rna/mixed/DemoReferenceRnaMixedHomoSapiens_S1.fa.gz, ${projectDir}/test/public/references/rna/mixed/DemoReferenceRnaMixedMusMusculus_S2.fa.gz"
            rna.reference.gtf = "${projectDir}/test/public/references/rna/mixed/DemoReferenceRnaMixedHomoSapiens_S1.gtf.gz, ${projectDir}/test/public/references/rna/mixed/DemoReferenceRnaMixedMusMusculus_S2.gtf.gz"
            rna.barcode.force = 800
            rna.overrides.DemoRnaMixed_S2.barcode.force = 825
            rna.mixed = true
            rna.crosstalkThreshold = 0.92
            rna.workflow = "full"
            rna.beadMergeUmiThreshold = 1
        }
    }
    demo_cytometry {
        params {
            cytometry {
                input = "${projectDir}/test/public/data/cytometry/"
                workflow = "full"
                reference.directory = "${projectDir}/test/public/references/cytometry/"
                adtFile = "${projectDir}/test/public/references/cytometry/cytometry_demo_adts.csv"
                sampleSheet = "${projectDir}/test/public/config/cytometry/demo_cytometry_sample_sheet.yaml"
            }
        }
    }

    demo_citeseq {
        params {
            rna {
                input = "${projectDir}/test/public/data/citeseq/"
                reference.directory = "${projectDir}/test/public/references/rna/normal/"
                reference.fasta = "${projectDir}/test/public/references/rna/normal/DemoReferenceRnaNormalHomoSapiens.fa.gz"
                reference.gtf = "${projectDir}/test/public/references/rna/normal/DemoReferenceRnaNormalHomoSapiens.gtf.gz"
                workflow = "full"
                sampleSheet = "${projectDir}/test/public/config/citeseq/demo_citeseq_sample_sheet.yaml"
            }
            cytometry {
                input = "${projectDir}/test/public/data/citeseq/"
                workflow = "full"
                reference.directory = "${projectDir}/test/public/references/cytometry/"
                adtFile = "${projectDir}/test/public/references/cytometry/cytometry_demo_adts.csv"
                sampleSheet = "${projectDir}/test/public/config/citeseq/demo_citeseq_sample_sheet.yaml"
            }
        }
    }
}
