// Nextflow Tower configuration file

manifest {
    nextflowVersion = '!>=23.10.0, <=24.10.5'
}

process {

    // Nextflow Tower dynamic resource configurations
    
    withLabel: memory_xxsmall {
        memory = { check_max( 0.9375.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max(12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_xsmall {
        memory = { check_max( 3.75.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max(12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_small {
        memory = { check_max( 7.5.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_medium {
        memory = { check_max( 15.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_large {
        memory = { check_max( 30.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_xlarge {
        memory = { check_max( 60.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_xxlarge {
        memory = { check_max( 120.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_xxxlarge {
        memory = { check_max( 250.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }

    withLabel: cpu_xsmall {
        cpus = { check_max( 1 ,'cpus' ) }
        time = { check_max(12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_small {
        cpus = { check_max( 2 ,'cpus' ) }
        time = { check_max(12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_medium {
        cpus = { check_max( 4 ,'cpus' ) }
        time = { check_max(12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_large {
        cpus = { check_max( 8, 'cpus' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_xlarge {
        cpus = { check_max( 16, 'cpus' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_xxlarge {
        cpus = { check_max( 32, 'cpus' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_xxxlarge {
        cpus = { check_max( 64, 'cpus' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }

    withName: UMI_TOOLS_COUNT {
        time = '30h'
    }
    
}

// Function for comparing resource requests to available resources
def check_max(obj, type) {
    if (type == 'cpus') {

        try {
            return Math.min( obj, params.maxCpus as int )
        } catch (all) {
            println "[ERROR] Max cpus '${params.maxCpus}' is not valid. Using default value: $obj"
            return obj
        }

    } else if (type == 'memory') {

        try {
            if (obj.compareTo(params.maxMemory as nextflow.util.MemoryUnit) == 1)
                return params.maxMemory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "[ERROR] Max memory '${params.maxMemory}' is not valid. Using default value: $obj"
            return obj
        }

    } else if (type == 'time') {

        try {
            if (obj.compareTo(params.maxTime as nextflow.util.Duration) == 1)
                return params.maxTime as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "[ERROR] Max time '${params.maxTime}' is not valid. Using default value: $obj"
            return obj
        }
    }
}
