# scrna_shortread/.gitignore

# Nextflow
.nextflow*
work/*
results*/*
reports/*

# Images
singularity/*

# Test
test/public/output/*
test/public/data/*/*/mergedFastqs/*
test/public/references/**
!test/public/references/atac/
!test/public/references/rna/
!test/public/references/rna/normal/
!test/public/references/rna/mixed/
!test/public/references/cytometry/
!test/public/references/atac/DemoRefAtachg38.fa.gz
!test/public/references/atac/DemoRefAtachg38.gtf.gz
!test/public/references/atac/DemoRefAtacmm10.fa.gz
!test/public/references/atac/DemoRefAtacmm10.gtf.gz
!test/public/references/rna/normal/DemoReferenceRnaNormalHomoSapiens.fa.gz
!test/public/references/rna/normal/DemoReferenceRnaNormalHomoSapiens.gtf.gz
!test/public/references/rna/mixed/DemoReferenceRnaMixedHomoSapiens_S1.fa.gz
!test/public/references/rna/mixed/DemoReferenceRnaMixedHomoSapiens_S1.gtf.gz
!test/public/references/rna/mixed/DemoReferenceRnaMixedMusMusculus_S2.fa.gz
!test/public/references/rna/mixed/DemoReferenceRnaMixedMusMusculus_S2.gtf.gz
!test/public/references/cytometry/cytometry_demo_adts.csv

# Rust
bin/*/target

# Misc
.DS_Store
*.pyc
.Rproj.user
my-changes.patch
