// Pipeline parameters
params {

    // General defaults
    errorStrategy = 'ignore'
    monochrome_logs = null
    prefix = null
    readQualityScore = 20
    help = null
    force = null

    // Directory defaults
    omnition {
        outputDir = "${launchDir}/results"
        resultsDir = "${omnition.outputDir}/Sample_Files"
        reportsDir = "${omnition.outputDir}/report"
        assetsDir = "${projectDir}/assets"
        modulesDir = "${projectDir}/modules"
        workflowsDir = "${projectDir}/workflows"
    }

    // Assay defaults
    core = null
    do_merging = null
    rna = null    
    atac = null
    catac = null
    cytometry = null

    preset {
        rna {
            includeConfig "${projectDir}/configs/public/rna_preset.config"
        }

        atac {
            includeConfig "${projectDir}/configs/public/atac_preset.config"
        }

        cytometry{
            includeConfig "${projectDir}/configs/public/cytometry_preset.config"
        }

        do_merging{
            includeConfig "${projectDir}/configs/public/do_merging_preset.config"
        }
    }

    // Container stage suffix appended to every container repo name.
    // Driven by the release flow: "" for public releases, "-test" for test
    // releases, "-dev" for default/dev work. Updated by CI on tag deploys.
    container_stage = ""

    container_image {
        r_public = "bioraddbg/omnition-r${container_stage}"
        core_public = "bioraddbg/omnition-core${container_stage}"
        dbg_public = "bioraddbg/omnition-dbg${container_stage}"
        cytometry_public = "bioraddbg/omnition-cytometry${container_stage}"
        customer_report_public = "bioraddbg/omnition-report${container_stage}"
        archr_public = "bioraddbg/omnition-archr${container_stage}"
    }

    // Barcode defaults
    barcode.force = null

    // Resource defaults
    maxCpus = 64
    maxMemory = '500.GB'
    maxTime = '12h'

}

manifest {
    name = 'BioRadOpenSource/omnition'
    description = 'Bio-Rad Omnition analysis software for single-cell data.'
    defaultBranch = 'main'
    mainScript = 'main.nf'
    nextflowVersion = '!>=23.10.0, <=24.10.5'
    version = 'v1.2.0-beta.1'
    recurseSubmodules = true
}


// Process management settings
process {

    // Cache based on contents
    cache = 'lenient'
    withName: SINGULARITY_PULL {
        cache = false
    }

    // Setting error strategy 
    // 134 = Program aborted
    // 104, 137, 143 = Out of memory
    // 139 = Segfault
    errorStrategy = { task.exitStatus in [104,134,137,139,143] ? 'retry' : params.errorStrategy }
    maxRetries = 2
    maxErrors = -1

    // Dynamic resource configurations
    withLabel: memory_xxsmall {
        memory = { check_max( 0.9375.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max(12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_xsmall {
        memory = { check_max( 3.75.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max(12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_small {
        memory = { check_max( 7.5.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_medium {
        memory = { check_max( 15.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_large {
        memory = { check_max( 30.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_xlarge {
        memory = { check_max( 60.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_xxlarge {
        memory = { check_max( 120.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: memory_xxxlarge {
        memory = { check_max( 250.GB * ( 2 ** ( task.attempt - 1 ) ), 'memory' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }

    withLabel: cpu_xsmall {
        cpus = { check_max( 1 ,'cpus' ) }
        time = { check_max(12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_small {
        cpus = { check_max( 2 ,'cpus' ) }
        time = { check_max(12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_medium {
        cpus = { check_max( 4 ,'cpus' ) }
        time = { check_max(12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_large {
        cpus = { check_max( 8, 'cpus' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_xlarge {
        cpus = { check_max( 16, 'cpus' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_xxlarge {
        cpus = { check_max( 32, 'cpus' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }
    withLabel: cpu_xxxlarge {
        cpus = { check_max( 64, 'cpus' ) }
        time = { check_max( 12.h * ( 2 ** ( task.attempt - 1 ) ), 'time' ) }
    }

    withName: UMI_TOOLS_COUNT {
        time = '30h'
    }

    withName: AGGREGATE_METRICS {
        time = '30h'
    }

    withName: REANNOTATE_FRAGMENTS {
        errorStrategy = 'ignore'
    }
}

includeConfig "${projectDir}/configs/public/test.config"

// Execution profiles for defining container system settings
profiles {

    standard {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${projectDir}/singularity/"
        
        // Singularity/Apptainer run options to fix home directory and binding issues
        singularity.runOptions = '-B $PWD -B /tmp'
    }
    
    docker {
        docker.enabled = true
        docker.fixOwnership = true
        docker.runOptions = "--shm-size 16g"
    }

    awsbatch {
        includeConfig "${projectDir}/configs/public/aws.config"
    }

    tower {
        includeConfig "${projectDir}/configs/public/tower.config"
    }

}

plugins {
    id 'nf-schema@2.2.0'
}

params.omnition.resultsDir = "${params.omnition.outputDir}/Sample_Files/"
params.omnition.reportsDir = "${params.omnition.outputDir}/report/"

// load into total_params what ever params.{assay} is not null
// [params.rna, params.atac, params.catac, params.cytometry]
def assays = [params.rna, params.cytometry, params.atac, params.catac]
def total_params = assays.findAll { it }.collectEntries { it }
// If total_params is not empty, then set params.core equal to it
if ((total_params) && ((params.rna && !params.cytometry) || ((params.rna && params.cytometry)) || (params.cytometry && !params.rna))) { // groovylint-disable-line
    params.core = total_params
    params.do_merging = params.core
} else if ((total_params) && ((params.atac) || (params.catac))) { // groovylint-disable-line
    params.core = total_params
}

// Grab CLI params-file info
// Accessing parsed parameters variable via nextflow 
// https://github.com/nextflow-io/nextflow/blob/master/modules/nextflow/src/main/groovy/nextflow/config/ConfigParser.groovy#L98
params.omnition.paramsFile = paramVars

def trace_timestamp = new java.util.Date().format( 'yyyyMMdd-HHmmss')
report {
    enabled = true
    file = params.prefix ? "${params.omnition.outputDir}/pipeline_info/${params.prefix}-omnition-execution_report-${trace_timestamp}.html" : "${params.omnition.outputDir}/pipeline_info/omnition-execution_report-${trace_timestamp}.html"
}
timeline {
    enabled = true
    file = params.prefix ? "${params.omnition.outputDir}/pipeline_info/${params.prefix}-omnition-timeline-${trace_timestamp}.html" : "${params.omnition.outputDir}/pipeline_info/omnition-timeline-${trace_timestamp}.html"
}
trace {
    enabled = true
    fields = "task_id,hash,native_id,name,status,exit,submit,duration,realtime,cpus,%cpu,peak_rss,peak_vmem,rchar,wchar"
    file = params.prefix ? "${params.omnition.outputDir}/pipeline_info/${params.prefix}-omnition-trace-${trace_timestamp}.txt" : "${params.omnition.outputDir}/pipeline_info/omnition-trace-${trace_timestamp}.txt"
}
dag {
    enabled = true
    file = params.prefix ? "${params.omnition.outputDir}/pipeline_info/${params.prefix}-omnition-dag-${trace_timestamp}.html" : "${params.omnition.outputDir}/pipeline_info/omnition-dag-${trace_timestamp}.html"
}


// Function for comparing resource requests to available resources
def check_max(obj, type) {
    if (type == 'cpus') {

        try {
            return Math.min( obj, params.maxCpus as int )
        } catch (all) {
            println "[ERROR] Max cpus '${params.maxCpus}' is not valid. Using default value: $obj"
            return obj
        }

    } else if (type == 'memory') {

        try {
            if (obj.compareTo(params.maxMemory as nextflow.util.MemoryUnit) == 1)
                return params.maxMemory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "[ERROR] Max memory '${params.maxMemory}' is not valid. Using default value: $obj"
            return obj
        }

    } else if (type == 'time') {

        try {
            if (obj.compareTo(params.maxTime as nextflow.util.Duration) == 1)
                return params.maxTime as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "[ERROR] Max time '${params.maxTime}' is not valid. Using default value: $obj"
            return obj
        }
    }
}

// This allows R scripts to access other scripts in bin dir
env {
    SCRIPT_PATH = "${projectDir}/bin"
}
