mitoContig = 'MT'
tssWindowSize = 4000
qualityThreshold = 30
trim = 0
mergeMethod = 'both'
crosstalkthreshold = 0.90
rounding = 0
maxInsertSize = 2000
tierroroverride = false
sortSize = 0.25
tiread =  'r1'
ti{
    TI1 = "AAAGAA"
    TI2 = "AACAGC"
    TI3 = "AACGTG"
    TI4 = "AAGCCA"
    TI5 = "AAGTAT"
    TI6 = "AATTGG"
    TI7 = "ACAAGG"
    TI8 = "ACCCAA"
    TI9 = "ACCTTC"
    TI10 = "ACGGAC"
    TI11 = "ACTGCA"
    TI12 = "AGACCC"
    TI13 = "AGATGT"
    TI14 = "AGCACG"
    TI15 = "AGGTTA"
    TI16 = "AGTAAA"
    TI17 = "AGTCTG"
    TI18 = "ATACTT"
    TI19 = "ATAGCG"
    TI20 = "ATATAC"
    TI21 = "ATCCGG"
    TI22 = "ATGAAG"
    TI23 = "ATTAGT"
    TI24 = "CAACCG"
    TI25 = "CAAGTC"
    TI26 = "CACCAC"
    TI27 = "CACTGT"
    TI28 = "CAGACT"
    TI29 = "CAGGAG"
    TI30 = "CATAGA"
    TI31 = "CCACGC"
    TI32 = "CCGATG"
    TI33 = "CCGTAA"
    TI34 = "CCTCTA"
    TI35 = "CGAAAG"
    TI36 = "CGAGCA"
    TI37 = "CGCATA"
    TI38 = "CGGCGT"
    TI39 = "CGGTCC"
    TI40 = "CGTTAT"
    TI41 = "CTAGGT"
    TI42 = "CTATTA"
    TI43 = "CTCAAT"
    TI44 = "CTGTGG"
    TI45 = "CTTACG"
    TI46 = "CTTGAA"
    TI47 = "GAAATA"
    TI48 = "GAAGGG"
    TI49 = "GACTCG"
    TI50 = "GAGCTT"
    TI51 = "GAGGCC"
    TI52 = "GAGTGA"
    TI53 = "GATCAA"
    TI54 = "GCCAGA"
    TI55 = "GCCGTT"
    TI56 = "GCGAAT"
    TI57 = "GCGCGG"
    TI58 = "GCTCCC"
    TI59 = "GCTGAG"
    TI60 = "GCTTGT"
    TI61 = "GGACGA"
    TI62 = "GGATTG"
    TI63 = "GGCCAT"
    TI64 = "GGGATC"
    TI65 = "GGTAGG"
    TI66 = "GGTGCT"
    TI67 = "GTACAG"
    TI68 = "GTCCTA"
    TI69 = "GTCGGC"
    TI70 = "GTGGTG"
    TI71 = "GTTAAC"
    TI72 = "GTTTCA"
    TI73 = "TAAGCT"
    TI74 = "TAATAG"
    TI75 = "TACCGA"
    TI76 = "TAGAGG"
    TI77 = "TATTTC"
    TI78 = "TCAGTG"
    TI79 = "TCATCA"
    TI80 = "TCCAAG"
    TI81 = "TCGCCT"
    TI82 = "TCGGGA"
    TI83 = "TCTAGC"
    TI84 = "TGAATT"
    TI85 = "TGAGAC"
    TI86 = "TGCGGT"
    TI87 = "TGCTAA"
    TI88 = "TGGCAG"
    TI89 = "TGTGTA"
    TI90 = "TGTTCG"
    TI91 = "TTAAGA"
    TI92 = "TTCGCA"
    TI93 = "TTCTTG"
    TI94 = "TTGCTC"
    TI95 = "TTGGAT"
    TI96 = "TTTGGG"
}
