profiles {
    demo_atac {
        params {
            atac.input = "${baseDir}/test/data/atac/normal/"
            atac.mixed = true
            atac.reference.directory = "${baseDir}/test/references/atac/"
            atac.reference.fasta.s1 =  "${baseDir}/test/references/atac/DemoRefAtachg38.fa.gz"
            atac.reference.fasta.s2 = "${baseDir}/test/references/atac/DemoRefAtacmm10.fa.gz"
            atac.reference.gtf.s1 = "${baseDir}/test/references/atac/DemoRefAtachg38.gtf.gz"
            atac.reference.gtf.s2 = "${baseDir}/test/references/atac/DemoRefAtacmm10.gtf.gz"
            atac.workflow = "full"
        }
    }

    demo_catac {
        params {
            catac.barcode.force = 150
            catac.barcodedTn5Config = "${baseDir}/test/config/atac/atac_mixed_TIs.csv"
            catac.input = "${baseDir}/test/data/atac/combinatorial/"
            catac.mixed = true
            catac.reference.directory = "${baseDir}/test/references/atac/"
            catac.reference.fasta.s1 = "${baseDir}/test/references/atac/DemoRefAtachg38.fa.gz"
            catac.reference.fasta.s2 = "${baseDir}/test/references/atac/DemoRefAtacmm10.fa.gz"
            catac.reference.gtf.s1 = "${baseDir}/test/references/atac/DemoRefAtachg38.gtf.gz"
            catac.reference.gtf.s2 = "${baseDir}/test/references/atac/DemoRefAtacmm10.gtf.gz"
            catac.rounding = 10
            catac.sortSize = 0.01
            catac.ti.ti1 = "AGCACG"
            catac.ti.ti2 = "CGCATA"
            catac.tiRead = "r1"
            catac.tssWindowSize = 2000
            catac.workflow = "full"
        }
    }

    demo_rna_single {
        params {
            rna.input = "${baseDir}/test/data/rna/single_default/"
            rna.bead.format = "shasta_normalbead"
            rna.reference.directory = "${baseDir}/test/references/rna/normal/"
            rna.reference.fasta = "${baseDir}/test/references/rna/normal/DemoReferenceRnaNormalHomoSapiens.fa.gz"
            rna.reference.gtf = "${baseDir}/test/references/rna/normal/DemoReferenceRnaNormalHomoSapiens.gtf.gz"
            rna.workflow = "full"
            rna.includeIntrons = false
            rna.beadMergeUmiThreshold = 1
        }
    }

    demo_rna_mixed_options {
        params {
            rna.bead.format = "shasta_normalbead"
            rna.input = "${baseDir}/test/data/rna/mixed_all_options/"
            rna.reference.directory = "${baseDir}/test/references/rna/mixed/"
            rna.reference.fasta.species1 = "${baseDir}/test/references/rna/mixed/DemoReferenceRnaMixedHomoSapiens_S1.fa.gz"
            rna.reference.fasta.species2 = "${baseDir}/test/references/rna/mixed/DemoReferenceRnaMixedMusMusculus_S2.fa.gz"
            rna.reference.gtf.species1 = "${baseDir}/test/references/rna/mixed/DemoReferenceRnaMixedHomoSapiens_S1.gtf.gz"
            rna.reference.gtf.species2 = "${baseDir}/test/references/rna/mixed/DemoReferenceRnaMixedMusMusculus_S2.gtf.gz"
            rna.barcode.force = 800
            rna.overrides.DemoRnaMixed_S2.barcode.force = 825
            rna.mixed = true
            rna.crosstalkThreshold = 0.92
            rna.workflow = "full"
            rna.beadMergeUmiThreshold = 1
        }
    }
}
