profiles {
    demo_atac {
        params {
            atac.workflow = "full"
            atac.input = "${baseDir}/test/data/atac/normal/"
            atac.reference.directory = "${baseDir}/test/references/atac/"
            atac.reference.fasta.s1 =  "${baseDir}/test/references/atac/DemoRefAtachg38.fa.gz"
            atac.reference.fasta.s2 = "${baseDir}/test/references/atac/DemoRefAtacmm10.fa.gz"
            atac.reference.gtf.s1 = "${baseDir}/test/references/atac/DemoRefAtachg38.gtf.gz"
            atac.reference.gtf.s2 = "${baseDir}/test/references/atac/DemoRefAtacmm10.gtf.gz"
            atac.mixed = true  
        }
    }

    demo_catac {
        params {
            atac.workflow = "full"
            atac.input = "${baseDir}/test/data/atac/combinatorial/"
            atac.reference.directory = "${baseDir}/test/references/atac/"
            atac.reference.fasta.s1 =  "${baseDir}/test/references/atac/DemoRefAtachg38.fa.gz"
            atac.reference.fasta.s2 = "${baseDir}/test/references/atac/DemoRefAtacmm10.fa.gz"
            atac.reference.gtf.s1 = "${baseDir}/test/references/atac/DemoRefAtachg38.gtf.gz"
            atac.reference.gtf.s2 = "${baseDir}/test/references/atac/DemoRefAtacmm10.gtf.gz"
            atac.mixed = true
            atac.barcodedTn5 = true
            atac.barcodedTn5Config = "${baseDir}/test/config/atac/atac_mixed_TIs.csv"
            atac.tssWindowSize = 2000
            atac.barcode.force = 1000
            atac.trim = 5
            atac.sortSize = 0.01
            atac.rounding = 10
            atac.tiread = "r1"
            atac.ti.ti1 = "AAAGAA"
            atac.ti.ti2 = "TTTGGG"
        }
    }
}
